/* footer */

.footer {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 10px;
  }
  
  .info {
    font-size: 10px;
  }
  
  .info * {
    list-style: none;
    text-align: right;
    text-decoration: none;
  }